<footer class="footer">
  <div class="container">
    <h3 class="footer__title">
      Контакты
    </h3>
    <div class="footer__top">
      <ul class="footer__info">
        <li class="footer__info-item">
          <dl>
            <dt>ОБЩИЕ</dt>
            <dd>
              <a href="tel:+351282405600">+(351) 282 405 600</a>
            </dd>
            <dd>
              <a href="tel:+351282405697">+(351) 282 405 697</a>
            </dd>
            <dd>
              <a href="mailto:info@autodromodoalgarve.com">info@autodromodoalgarve.com</a>
            </dd>
          </dl>
        </li>
        <li class="footer__info-item">
          <dl>
            <dt>БИЛЕТЫ</dt>
            <dd>
              <a href="tel:+351282405600">+(351) 282 405 600</a>
            </dd>
            <dd>
              <a href="mailto:tickets@autodromodoalgarve.com">tickets@autodromodoalgarve.com</a>
            </dd>
          </dl>
        </li class="footer__info-item">
        <li class="footer__info-item">
          <ul class="social-list">
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <img src="images/youtube.svg" alt="youtube" class="social-list__img">
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <img src="images/inst.svg" alt="insta" class="social-list__img">
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <img src="images/facebook.svg" alt="facebook" class="social-list__img">
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="footer__addres">
        <p class="footer__addres-title">
          АДРЕС
        </p>
        <address class="footer__addres-text">
          Sitio do Escampadinho, Mexilhoeira Grande, 8500-148 Portimao, Portugal
        </address>
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3176.690012686598!2d-8.6283276!3d37.2313331!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1684501390004!5m2!1sru!2sua"
            width="454" height="253" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <a class="footer__bottom-link" href="#">
        Design by Varvara Prokopchuk
      </a>
      <a href="#" class="footer__logo">
        <img src="images/logo-footer.webp" alt="lamba logo" class="footer__logo-img">
      </a>
      <a class="footer__bottom-link" href="#">
        Политика конфиденциальности
      </a>
    </div>
  </div>
</footer>


<script src="js/main.min.js"></script>
</body>

</html>