<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lamborgini</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <header class="header">
    <div class="big-container">
      <nav class="nav">
        <ul class="menu__list lenu__left">
          <li class="menu__item">
            <a href="#" class="menu__link">О гонке</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Трек</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Lamborghini Super trofeo</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Новости</a>
          </li>
        </ul>
        <a href="#" class="logo">
          <img src="images/logo-img.webp" alt="lamba logo" class="logo__img">
        </a>
        <ul class="menu__list menu__right">
          <li class="menu__item">
            <a href="#" class="menu__link">Купить билеты</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Смотреть онлайн</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Контакты</a>
          </li>
        </ul>
        <button class="menu__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul class="menu__mobile">
          <li class="menu__item">
            <a href="#" class="menu__link">О гонке</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Трек</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Lamborghini Super trofeo</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Новости</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Купить билеты</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Смотреть онлайн</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Контакты</a>
          </li>
        </ul>

      </nav>
    </div>
  </header>